.font {
    &-large {
        font-size: 60px;
        color: pink;
        text-transform: uppercase;
    }
    &-medium {
        font-size: 40px;
        color: chocolate;
    }
    &-small {
        font-size: 20px;
        color: royalblue;
    }
}