/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}
a {
  text-decoration: none;
}

/* Button Hover Effect */
.btn-outer {
  .btn {
    color: #fff;
    text-transform: uppercase;
    width: 300px;
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    transition: 0.5s;
    position: relative;
    /* 주석할 때 : 
    - 줄주석 //을 하면 컴파일 될 때 사라진다.
    - /**`/ 사용하면 이건 주석으로 컴파일된다 */
    &:hover {
      background-color: transparent;
      font-weight: bold;
      color: rgb(126, 219, 255);
      font-size: 20px;
    }
    &:before, 
    &:after {
      content: '';
      width: inherit;
      height: inherit;
      border: 1px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s ;
    }
    &:hover:before {
      transform: rotate(45deg);
    }
    &:hover:after {
      transform: rotate(-45deg);
    }
  }
}

